CLibImp/.vs
CLibImp/CLibImp/Release
CLibImp/CLibImp/x64
CLibImp/Release
CLibImp/x64
XamarinCLibImp/.vs
XamarinCLibImp/XamarinCLibImp/XamarinCLibImp/obj
XamarinCLibImp/XamarinCLibImp/XamarinCLibImp.Android/obj
XamarinCLibImp/XamarinCLibImp/XamarinCLibImp.iOS/obj
XamarinCLibImp/XamarinCLibImp/XamarinCLibImp.UWP/obj
XamarinCLibImp/XamarinCLibImp.Wrapper/obj
XamarinCPlusPlusLibImp/.vs
XamarinCPlusPlusLibImp/ARM
XamarinCPlusPlusLibImp/ARM64
XamarinCPlusPlusLibImp/x64
XamarinCPlusPlusLibImp/x86
XamarinCPlusPlusLibImp/XamarinCPlusPlusLibImp/XamarinCPlusPlusLibImp.Android/ARM
XamarinCPlusPlusLibImp/XamarinCPlusPlusLibImp/XamarinCPlusPlusLibImp.Android/ARM64
XamarinCPlusPlusLibImp/XamarinCPlusPlusLibImp/XamarinCPlusPlusLibImp.Android/x64
XamarinCPlusPlusLibImp/XamarinCPlusPlusLibImp/XamarinCPlusPlusLibImp.Android/x86
XamarinCLibImp/XamarinCLibImp.Mac/bin
XamarinCLibImp/XamarinCLibImp.Mac/obj
